/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

// Custom Colors
$cyan: #33e0ff;
$humility: #777;

// Bootstrap Variables
$brand-primary: #9E0C39;
$brand-primary-light: lighten($brand-primary, 32%);
$brand-secondary: #e25139;
$brand-success: #83A300;
$brand-warning: #f0ad4e;
$brand-danger: #E21B5A;
$brand-info: #5bc0de;

$brand-grey: #949494;
$brand-grey-light: lighten($brand-grey, 32%);

$text-color: #333;

$input-border-focus: $brand-primary;

$transition-base: 200ms all ease-out;

$font-size-base: 14px;
$headings-font-family: "Raleway", sans-serif;
$headings-font-weight: 200;
$font-family-sans-serif: "Merriweather", Helvetica, serif;

$border-radius-base: 3px;
$border-radius-large: 3px;

$box-shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$box-shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$box-shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
